*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

/* Header */

.cabecera{
    padding-top: 28em;
    background: url('../img/header.jpg') #000000;
    background-size: 230vh;
    background-position: top center;
    grid-area: header;
}

.navBar{ 
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2em;
    background-color: rgb(34, 34, 34);
}

.navBar__lista{
    border: 0.05em white solid;
    border-left: 0;
    border-right: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em;
    margin: 0;
}

.menu{
    padding: 0.5em 0em 0.5em 0em;
}

.menu__link{
    color: #cbdd74;
    transition: color 0.5s;
}

.menu__link:hover{
    color: #469100;
}

.vivo{
    padding: 0.5em 0em 0.5em 0em ;
}

.vivo__link--icono{
    transition: all 0.5s;
}

.vivo__link--icono:hover{
    transform: scale(1.1);
}


@media(min-width: 1024px){
    .cabecera{
        background-size: 210vh;
    }

    .navBar__lista{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.5em 3em 0.5em 0em;
    }

    .vivo{
        padding: 0em 0em 0em 1em;
    }

    .menu{
        padding: 0em 1em 0em 1em;
    }
}

/* Estilos index */

@media(min-width: 600px){

    .grilla__index{
        display: grid;
        grid-template-areas: 
                "header"
                "mainIndex"
                "footer";
    }

    .mainIndex{
        background: url('../img/index/fondoIndex.jpg') #B5B5B5;
        background-position: top center;
        background-size: cover;
        grid-area: mainIndex;
        padding: 7em 8em 0em 8em;
    }

    .mainIndex__grilla{
        display: grid;
        column-gap: 2em;
        grid-template-areas: "sinopsis"
        "serpiente"
        "demo"
        "fotoCalaveras";
        justify-content: center;
        justify-items: center;
    }

    .sinopsis{
        grid-area: sinopsis;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
    .sinopsis__titulo--img{
        width: 24em;
    }

    .sinopsis__texto{
        font-family: 'Asap', sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        color: #3d3d3d;
        padding-top: 2em;
    }

    .serpiente{
        padding: 5em 2.5em 0em 0em;
        grid-area: serpiente;
        align-self: center;
        justify-self: center;
    }

    .serpiente__img{
        height: 20em;
    }

    .demo{
        grid-area: demo;
        padding-top: 5em;
        justify-self: center;
    }

    .demo__titulo--img{
        width: 14em;
    }


    .demo__link--video{
        padding-top: 1em;
        width: 40em; 
        height: 25em;
    }

    .fotoPose{
        padding-top: 3em;
        grid-area: fotoCalaveras;
        justify-self: center;
        align-self: flex-end;
    }

    .fotoPose__img{
        width: 43em;
    }
}
@media(min-width:768px){
    .mainIndex{
        padding: 7em 6em 0em 6em;
        }
    
    .mainIndex__grilla{
        row-gap: 10em;
        grid-template-areas: "sinopsis sinopsis"
        "demo serpiente"
        "fotoCalaveras fotoCalaveras";
    }

    .sinopsis{
        width: 60em;
    }

    .serpiente{
        padding: 0;
        align-self: end;
    }

    .serpiente__img{
        height: 23.5em;
    }

    .demo{
        padding: 0em;
        align-self: end;
    }

    .fotoPose{
        padding: 0em;
    }

    .fotoPose__img{
        width: 55em;
    }
}

@media(min-width: 1024px){

    .sinopsis{
        width: 85em;
    }

    .fotoPose__img{
        width: 60em;
    }

}

@media(min-width:1300px){
    
        .mainIndex__grilla{
        grid-template-areas: "sinopsis serpiente"
        "fotoCalaveras demo";
        align-items: center;
    }

    .sinopsis{
        width: 50em;
    }

    .sinopsis__titulo--img{
        width: 30em;
    }

    .demo__titulo--img{
        width: 18em;
    }

    .serpiente{
        padding: 0em 0em 0em 5em;
    }

    .serpiente__img{
        height: 30em;
    }

    .demo{
        padding-bottom: 2em;
    }

    .demo__link--video{
        padding-top: 4em;
        width: 50em;
        height: 30em;
    }
}

/* Estilos Quienes somos */

@media(min-width: 600px){
    .grilla__quienesSomos{
        display: grid;
        grid-template-areas: 
                "header"
                "mainQuienesSomos"
                "footer";
    }

    .mainQuienesSomos{
        background: url('../img/quienesSomos/fondoQuienesSomos.jpg') #bdc945;
        background-size: cover;
        background-position: top center;
        grid-area: mainQuienesSomos;
        padding: 7em 8em 5em 8em;
    }

    .mainQuienesSomos__grilla{
        display: grid;
        grid-template-areas:
        "quienesSomos"
        "fotoCalavera"
        "integrantes";
        justify-items: center;
    }

    .quienesSomos{
        padding: 0em 0em 4em 0em;
        grid-area: quienesSomos;
    }
    
    .quienesSomos__titulo--img{
        height: 8em;
    }

    .quienesSomos__texto{
        color: #3d3d3d;
        font-family: 'Asap', sans-serif;
        font-size: 1.5em;
        font-weight: 600;
        padding-top: 1em;
    }

    .fotoCalavera{
        padding: 3em 0em 4em 0em;
        grid-area: fotoCalavera;
    }

    .fotoCalavera__img{
        height: 25em;
    }

    .integrantes{
        padding: 6em 0em 4em 0em;
        grid-area: integrantes;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .integrantes__titulo--img{
        height: 8em;
    }
    
    .integrantes__grilla{
        display: grid;
        grid-template-areas: 
        "caraNati datosNati"
        "caraFlute datosFlute"
        "caraFranco datosFranco"
        "caraDami datosDami";
        row-gap: 8em;
        column-gap: 4em;
        justify-items: center;
        align-items: center;
        padding-top: 5em;
    }

    .datos{
        width: 28em;
    }


    .datos__link--img{
        height: 5em;
        padding-bottom: 0.2em;
        transition: all 0.3s;
    }

    .datos__link--img:hover{
        transform: scale(1.1);
    }

    .fotoCara__img{
        height: 13em;
    }

    .fotoCara__img--dami{
        height: 14em;
    }

    .fotoCara__img--nati{
        height: 15.5em;
    }

    .caraNati{
        grid-area: caraNati;
        padding-top: 2em;
    }

    .datosNati{
    grid-area: datosNati;
    }

    .caraFlute{
        grid-area: caraFlute;
    }

    .datosFlute{
        grid-area: datosFlute;
    }

    .caraFranco{
        grid-area: caraFranco;
    }

    .datosFranco{
        grid-area: datosFranco;
    }

    .caraDami{
        grid-area: caraDami;
        padding-top: 1.5em;
    }

    .datosDami{
        grid-area: datosDami;
    }

    .datos__titulo{
        font-family: 'Asap', sans-serif;
        color: white;
        font-size: 2em;
        font-weight: 800;
    }

    .datos__texto{
        color: #3d3d3d;
        font-family: 'Asap', sans-serif;
        font-size: 1.5em;
        font-weight: 600;
    }
}

@media(min-width: 768px){
    .mainQuienesSomos__grilla{
        column-gap: 2em;
        grid-template-areas:
        "quienesSomos fotoCalavera"
        "integrantes integrantes";
        justify-items: start;
        align-items: center;
    }

    .quienesSomos{
        padding: 0;
    }

    .quienesSomos__titulo--img{
        height: 6em;
    }
    
    .fotoCalavera{
        padding: 0;
    }
    
    .fotoCalavera__img{
        height: 20em;
    }

    .integrantes__titulo--img{
        height: 7em;
    }

}

@media(min-width: 1024px){
    .mainQuienesSomos__grilla{
        column-gap: 1em;
        justify-content: center;
    }

    .integrantes__grilla{
        grid-template-areas: 
        "caraNati datosNati caraFlute datosFlute"
        "caraFranco datosFranco caraDami datosDami";
    }

    .quienesSomos{
        width: 60em;
    }

    .quienesSomos__titulo--img{
        height: 8em;
    }
    
    .integrantes__titulo--img{
        height: 8em;
    }

    .datos{
        width: 25em;
    }

    .fotoCara__img{
        height: 11em;
    }
}

@media(min-width: 1300px){
    .quienesSomos{
        width: 65em;
    }

    .datos{
        width: 30em;
    }

    .fotoCara__img{
        height: 16em;
    }
}

/* Estilos la mesa de al lado */
@media(min-width: 600px){
    .grilla__mesaDeAlLado{
        display: grid;
        grid-template-areas: 
        "header"
        "mainMesa"
        "footer";
    }

    .mainMesa{
        background: url('../img/laMesaDeAlLado/fondoLaMesaDeAlLado.jpg') #000000;
        background-size: cover;
        background-position: top center;
        grid-area: mainMesa;
        padding: 7em 8em 5em 8em;
    }

    .mainMesa__grilla{
        display: grid;
        grid-template-areas: 
        "mesa"
        "carrusel";
        justify-items: center;
    }

    .mesa{
        grid-area: mesa;
    }

    .mesa__titulo{
        padding-bottom: 5em;
    }

    .mesa__titulo--img{
        height: 10em;
    }

    .mesa__texto{
        color: white;
        font-family: 'Asap', sans-serif;
        font-size: 1.5em;
        font-weight: 600;
        padding-top: 1em;
    }

    .carrusel{
        padding-top: 5em;
        width: 40em;
        grid-area: carrusel;
    }
}

@media(min-width: 768px){

    .carrusel{
        width: 60em;
    }
}

@media(min-width: 1024px){
    
    .mesa{
        width: 85em;
    }
    
    .mesa__titulo--img{
        height: 13em;
    }

    .carrusel{
        width: 85em;
    }
}

@media(min-width: 1300px){
    
    .mesa{
        width: 100em;
    }

    .carrusel{
        width: 100em;
    }
}

/* Estilos main destacados (esta página no la toqué para esta entrega) */

.mainDestacados{
    background: url('../img/quienesSomos/fondoQuienesSomos.jpg') #bdc945;
    background-size: 100%;
    background-position: top center;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destacados__texto{
    color: #3d3d3d;
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-left: 250px;
    padding-right: 250px;
}

.destacados__texto--titulo{
    color: white;
    font-size: 50px;
    padding-bottom: 10px;
}

.destacados__texto--parrafo{
    padding: 10px 0px 10px 0px;
}

.videos{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 250px 50px 250px;
}

.videos__destacado{
    padding: 10px 10px 10px 10px;
    height: 200px;
}

/* Estilos main contacto (esta página no la toqué para esta entrega) */

.mainContacto{
    background: url('../img/contacto/fondoContacto.jpg') rgb(44, 44, 44);
    background-position: top center;
    background-size: 100%;
    padding: 5%;
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.contacto__texto{
    padding: 0px 250px 50px 250px;
}

.formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

fieldset{
    color: #cbdd74;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: none;
    font-weight: 300;   
}

.contacto__texto--titulo{
    color: #cbdd74;
    font-size: 50px;
    padding-bottom: 10px;
}

textarea{
    margin-top: 15px;
    width: 600px;
    height: 250px;
    resize: none;
}

form{
    padding-right: 50px;
}

.formulario__imagen{
    height: 450px;
    padding-left: 50px;
}

.formulario__boton{
    padding: 5px;
    margin-top: 5px;
    background-color: transparent;
    border-color: #cbdd74;
    color: #cbdd74;
}

/* Estilos footer */

footer{
    background-color: rgb(34, 34, 34);
    border: 1px white solid;
    border-left: 0;
    border-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: footer;
    padding: 0.8em 0em 0.8em 0em;
}

.footer__redes--texto{
    color: #cbdd74;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    margin: 0;
}

.footer__logoCalavera{
    height: 7.5em;
    padding: 2em;
}

.footer__logoBotellon{
    height: 7.5em;
    padding: 2em;
}

.footer__redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__redes--logo{
    height: 5em;
    padding: 1em;
    transition: all 0.5s;
}

.footer__redes--logo:hover{
    transform: scale(1.2);
}

