*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

/* Header */

.cabecera{
    padding-top: 28em;
    background: url('../img/header.jpg') #000000;
    background-size: 230vh;
    background-position: top center;
    grid-area: header;
}

.navBar{ 
    font-family: 'Open Sans', sans-serif;
    color: #cbdd74;
    font-weight: 700;
    font-size: 2em;
    background-color: rgb(34, 34, 34);
}

.navBar__lista{
    border: 0.05em white solid;
    border-left: 0px;
    border-right: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em;
}

.menu{
    padding: 0.5em 0em 0.5em 0em;
}

.menu__link{
    color: #cbdd74;
    transition: color 0.5s;
}

.menu__link:hover{
    color: #469100;
}

.vivo{
    padding: 0.5em 0em 0.5em 0em ;
}

.vivo__link--icono{
    transition: all 0.5s;
}

.vivo__link--icono:hover{
    transform: scale(1.1);
}

@media(min-width: 768px){

    .navBar{
        font-size: 2.8em;
    }

    .navBar__lista{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.5em 0em 0.5em 0em;
    }

    .menu{
        padding: 0em 1em 0em 1em;
    }

    .vivo__link--icono{
        padding-left: 1em;
        padding-right: 1em;
        height: 1.5em;
    }
}

@media(min-width: 1024px){
    .cabecera{
        background-size: 210vh;
    }

    .navBar{
        font-size: 2.2em;
    }

    .navBar__lista{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.5em 3em 0.5em 0em;
    }

    .vivo{
        padding: 0em 0em 0em 1em;
    }

    .menu{
        padding: 0em 1em 0em 1em;
    }

    .vivo__link--icono{
        padding-left: 0em;
        padding-right: 0em;
    }
}

/* Estilos index */

.grilla__index{
    display: grid;
    grid-template-areas: 
            "header"
            "mainIndex"
            "footer";
}

.mainIndex{
    background: url('../img/index/fondoIndex1.jpg') #B5B5B5;
    background-position: top center;
    background-size: cover;
    grid-area: mainIndex;
}

.mainIndex__grilla{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 2em;
    grid-template-areas: "sinopsis"
    "serpiente"
    "demo"
    "fotoCalaveras";
    justify-content: center;
}

.sinopsis{
    grid-area: sinopsis;
    padding: 10em 8em 0em 8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.sinopsis__texto{
    font-family: 'Asap', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #3d3d3d;
    padding-top: 2em;
}

.sinopsis__titulo--img{
    width: 27em;
}

.serpiente{
    padding: 5em 0em 0em 5em;
    grid-area: serpiente;
    align-self: center;
    justify-self: center;
}

.serpiente__img{
    height: 30em;
}

.demo{
    padding: 10em 1em 0em 1em;
    grid-area: demo;
    justify-self: center;
}

.demo__titulo--img{
    width: 17em;
}

.demo__video{
    padding-top: 1em;
    width: 55em; 
}

.fotoPose{
    padding: 10em 9em 0em 9em;
    grid-area: fotoCalaveras;
    justify-self: center;
    align-self: flex-end;
}

.fotoPose__img{
    width: 60em;
}

@media(min-width:768px){
    .mainIndex__grilla{
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 10em;
        grid-template-areas: "sinopsis sinopsis"
        "demo serpiente"
        "fotoCalaveras fotoCalaveras";
    }

    .sinopsis{
        padding: 10em 15em 0em 15em;
    }

    .sinopsis__texto{
        font-size: 2.2em;
    }

    .sinopsis__titulo--img{
        width: 40em;
    }
    
    .serpiente{
        padding: 0em 15em 0em 0em;
        justify-self: end;
        align-self: end;
    }

    .serpiente__img{
        height: 40em;
    }
    
    .demo{
        padding: 5em 15em 0em 15em;
        align-self: center;
    }

    .demo__titulo--img{
        width: 25em;
    }

    .fotoPose{
        padding: 0em 0em 0em 0em;
    }

    .fotoPose__img{
        width: 80em;
    }
}

@media(min-width:1024px){
    .mainIndex__grilla{
        display: grid;
        grid-template-columns: 72em 72em;
        column-gap: 2em;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "sinopsis serpiente"
        "fotoCalaveras demo";
    }

    .sinopsis{
        padding: 6em 0em 0em 10em;
    }

    .sinopsis__texto{
        font-size: 1.8em;
    }

    .sinopsis__titulo--img{
        width: 35em;
    }
    

    .serpiente{
        padding: 12em 0em 0em 5em;
        justify-self: center;
        align-self: center;
    }

    .serpiente__img{
        height: 30em;
    }
    
    .demo{
        padding: 0em 10em 0em 10em;
        justify-self: center;
        align-self: center;
        padding-bottom: 2em;
    }

    .demo__titulo--img{
        width: 20em;
    }

    .fotoPose{
        padding: 0em 0em 0em 10em;
    }

    .fotoPose__img{
        width: 70em;
    }
}

/* Estilos Quienes somos */

.grilla__quienesSomos{
    display: grid;
    grid-template-areas: 
            "header"
            "mainQuienesSomos"
            "footer";
}

.mainQuienesSomos{
    background: url('../img/quienesSomos/fondoQuienesSomos.jpg') #bdc945;
    background-size: cover;
    background-position: top center;
    grid-area: mainQuienesSomos;
    padding: 5em 8em 5em 8em;
}

.mainQuienesSomos__grilla{
    display: grid;
    grid-template-areas:
    "quienesSomos"
    "fotoCalavera"
    "integrantes";
    justify-items: center;
}

.quienesSomos{
    padding: 5em 0em 4em 0em;
    grid-area: quienesSomos;
}

.quienesSomos__texto{
    color: #3d3d3d;
    font-family: 'Asap', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 1em;
}

.fotoCalavera{
    padding: 3em 0em 4em 0em;
    grid-area: fotoCalavera;
}

.fotoCalavera__img{
    height: 25em;
}

.integrantes{
    padding: 6em 0em 4em 0em;
    grid-area: integrantes;
}

.datos__link--img{
    height: 7em;
}

.fotoCara__img{
    height: 15em;
}

.fotoCara__img--dami{
    height: 14em;
}

.fotoCara__img--nati{
    height: 15.5em;
}

.integrantes__grilla{
    display: grid;
    grid-template-areas: 
    "caraNati datosNati"
    "caraFlute datosFlute"
    "caraFranco datosFranco"
    "caraDami datosDami";
    row-gap: 8em;
    column-gap: 4em;
    justify-items: center;
    align-items: center;
    padding-top: 5em;
}

.caraNati{
    grid-area: caraNati;
    padding-top: 2em;
}

.datosNati{
grid-area: datosNati;
}

.caraFlute{
    grid-area: caraFlute;
}

.datosFlute{
    grid-area: datosFlute;
}

.caraFranco{
    grid-area: caraFranco;
}

.datosFranco{
    grid-area: datosFranco;
}

.caraDami{
    grid-area: caraDami;
}

.datosDami{
    grid-area: datosDami;
}

.datos__titulo{
    font-family: 'Asap', sans-serif;
    color: white;
    font-size: 2.5em;
    font-weight: 800;
}

.datos__texto{
    color: #3d3d3d;
    font-family: 'Asap', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

@media(min-width: 768px){

}

/* Estilos footer */

footer {
    background-color: rgb(34, 34, 34);
    border: 1px white solid;
    border-left: 0px;
    border-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: footer;
    padding: 4em 0em 4em 0em;
}

.footer__redes--texto{
    color: #cbdd74;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
}

.footer__logoCalavera{
    height: 7.5em;
    padding: 7em 2em 2em 2em;
}

.footer__logoBotellon{
    height: 7.5em;
    padding: 7em 2em 2em 2em;
}

.footer__redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__redes--logo{
    height: 7em;
    padding: 3em 1.5em 0em 1.5em;
    transition: all 0.5s;
}

.footer__redes--logo:hover{
    transform: scale(1.2);
}

@media(min-width: 768px){

    footer{
        padding: 2em 0em 2em 0em;
    }

    .footer__logoCalavera{
        height: 9em;
        padding: 2em;
    }
    
    .footer__logoBotellon{
        height: 9em;
        padding: 2em;
    }
}

@media(min-width: 1024px){

    footer{
        padding: 0.8em 0em 0.8em 0em;
    }

    .footer__redes--texto{
        font-size: 2em;
    }

    .footer__redes--logo{
        height: 5em;
        padding: 1em 1em 1em 1em;
    }

    .footer__logoCalavera{
        height: 7.5em;
        padding: 2em;
    }
    
    .footer__logoBotellon{
        height: 7.5em;
        padding: 2em;
    }
}



